/* ============================
Root variables 
============================ */
:root {
    --fs-large: 18px;
    --fs-medium: 16px;
    --c-accent: #233E98;
}


/* ============================
Common CSS
============================ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: normal;
    transition: all .5s;
}

p,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #223749;
    font-family: "Rubik", sans-serif;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
    color: #486073;
}

button {
    border-radius: 50px;
    padding: 14px 24px;
    border: 1px solid #F5F3F3;
    background-color: transparent;
}

.headingTwo-n-span span {
    color: #722E92;
    font-size: 16px;
}

.headingTwo-n-span h2 {
    margin-top: 10px;
}

/* ============================
Header CSS 
============================ */
header {
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.head-top {
    background-color: #E3EAF0;
}

.head-top p {
    font-size: var(--fs-large);
    font-weight: 500;
    text-transform: capitalize;
}

.navbar-brand img {
    width: 220px;
}

.call-btn svg path {
    fill: #808080;
}

.call-btn,
.freeDemo-btn {
    text-transform: uppercase;
    font-size: var(--fs-medium);
    color: #818181;
}

.freeDemo-btn {
    font-weight: 500;
    color: white;
    background-color: var(--c-accent);
}

/* ============================
Hero Section CSS 
============================ */
.heroSec .carousel {
    height: 650px;
}

.carousel-item {
    position: relative;
    display: flex;
    align-items: center;
    height: 650px;
    z-index: 0;
}

.carousel-item img {
    position: relative;
    z-index: 1;
}

.carosel-content {
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 100px;
}

/* ============================
Video Showreel CSS
============================ */
.showreelSec {
    padding: 130px 0;
}

.video-container-wrapper {
    position: relative;
}

.video-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.video-text-content {
    position: absolute;
    bottom: 20%;
}

.video-decor-LT,
.video-decor-RB {
    position: absolute;
    z-index: -1;
}

.video-decor-LT {
    left: -16px;
    top: -16px;
}

.video-decor-RB {
    right: -16px;
    bottom: -16px;
}

.video-thumb {
    height: 500px;
    width: 100%;
    background-color: #F4F4F4;
    border-radius: 10px;
    overflow: hidden;
}

.video-thumb img {
    opacity: .05;
}

/* ============================
Statics CSS
============================ */
.staticsSec {
    padding: 90px 0;
    background: #FBF6FB;
}

.static-wraper {
    display: flex;
    gap: 40px;
}

.staticsSec h2 {
    margin-bottom: 30px;
}

p.value {
    font-size: 28px;
    font-weight: 600;
    z-index: 10;
    width: 100%;
    margin-bottom: unset;
}

.statics-card-one #part {
    transform: rotate(0deg);
}

.statics-card-one #part .circle {
    background-color: #E64C65;
    /*transform: rotate(76deg);*/
    animation: first 1s 1 forwards;
}

@keyframes first {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(110deg);
    }
}

.statics-card-two #part {
    transform: rotate(0deg);
}

.statics-card-two #part .circle {
    background-color: #E64C65;
    /*transform: rotate(76deg);*/
    animation: second 1s 1 forwards;
}

@keyframes second {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(110deg);
    }
}

.statics-card-three #part {
    transform: rotate(0deg);
}

.statics-card-three #part .circle {
    background-color: #E64C65;
    /*transform: rotate(76deg);*/
    animation: thrid 1s 1 forwards;
}

@keyframes thrid {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(150deg);
    }
}

.statics-card-four #part {
    transform: rotate(0deg);
}

.statics-card-four #part .circle {
    background-color: #E64C65;
    /*transform: rotate(76deg);*/
    animation: four 1s 1 forwards;
}

@keyframes four {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

.statics-card-five #part {
    transform: rotate(0deg);
}

.statics-card-five #part .circle {
    background-color: #E64C65;
    /*transform: rotate(76deg);*/
    animation: five 1s 1 forwards;
}

@keyframes five {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

/* ============================
Key benefits CSS
============================ */
.keyBenefitsSec {
    padding: 130px 0;
}

.benifitsCards {
    margin-top: 50px;
}

.benifits-card-wrapper {
    padding: 40px 60px 40px 0px;
    border: 1px solid transparent;
}

.benifits-card-wrapper:hover {
    border-radius: 6px;
    border: 1px solid rgba(72, 96, 115, 0.20);
    padding: 40px 30px 40px 30px;
}

.benifits-card-wrapper:hover h3 {
    color: var(--c-accent);
}

.benifits-card-wrapper img {
    margin-bottom: 20px;
}

.benifits-card-one,
.benifits-card-two,
.benifits-card-three {
    /*  border-right: 1px solid #48607333; */
}

/* ============================
Calculator CSS
============================ */
.calcSec {
    padding: 130px 0px;
    border: 1px solid lightgray;
    border-left: none;
    border-right: none;
}

/* ============================
Testimonial CSS
============================ */
.testimonialSec {
    padding: 130px 0px;
}

.testimoniCard-wrapper {
    margin-top: 30px;
    position: relative;
    display: flex;
    align-items: center;
}

.testimoni-Img {
    width: 700px;
    height: 340px;
    border-radius: 6px;
    overflow: hidden;
}

.testimoni-Img img {
    height: 100%;
}

.testimoni-Content-wrappper {
    margin-left: -30px;
    padding-right: 10px;
}

.testimoni-Content,
.testimoni-ratings {
    background-color: white;
    padding: 24px 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.10);
}

.testimoni-ratings {
    padding: 14px 20px !important;
    margin-top: 20px;
}

.quotationDecor {
    position: absolute;
    top: -20px;
    right: 0px;
}

.testimonialSec {
    position: relative;
}

.decorFav {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

/* ============================
Break-down CSS
============================ */
.breakdownSec {
    padding: 70px 0;
    background-color: #f4f4f483;
}

/* ============================
Packages CSS
============================ */
.packagesSec {
    padding: 70px 0px;
}

.packagesSec .packagesSecBG {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.pricigCard-wrapper {
    height: 94%;
    margin-top: 50px;
    padding: 40px 34px 90px 34px;
    border-radius: 20px;
    border: 1px solid rgba(72, 96, 115, 0.20);
    background: white;
    position: relative;
}

.price-content h3 {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-transform: uppercase;
}

.price-content .price {
    color: var(--c-accent);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
}

.packageFeature {
    margin-top: 20px;
}

.featureListing {
    margin-bottom: 20px;
}

.featureListing p {
    margin: unset;
    text-align: left;
}

.featureListing .bullet {
    width: 24px;
    height: 24px;
    background-color: #722E92;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 12px;
}

.choose-plan-btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 34px;
}

.choose-plan-btn button {
    width: calc(100% - 68px);
    color: var(--c-accent);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
    border: 1px solid var(--c-accent);
}

.pricigCard-wrapper:hover .price-content h3 {
    font-weight: 500;
}

.pricigCard-wrapper:hover .choose-plan-btn button {
    background-color: var(--c-accent);
    color: white;
}

.pricigCard-wrapper:hover {
    border: .7px solid var(--c-accent);
    box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.10);
}

.choose-plan-btn button:hover {
    background-color: var(--c-accent);
    color: white;
}


/* ============================
Footer CSS
============================ */
footer {
    padding: 70px 0px;
    background-color: #01223A;
}

.brandInfo {
    padding-right: 30px;
}

.socialConnect {
    padding-left: 30px;
    border-left: 1px solid white;
}

.socialIcons a {
    width: 38px;
    height: 38px;
    background-color: #f6f5f619;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.socialIcons a svg path {
    fill: rgb(192, 192, 202);
}

.socialIcons a:hover svg path {
    fill: white;
    opacity: 1;
}