/* ============================
Root variables 
============================ */
:root {
    --fs-large: 18px;
    --fs-medium: 16px;
    --c-accent: #233E98;
}


/* ============================
Common CSS
============================ */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: normal;
    transition: all .5s;
}

p,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #223749;
    font-family: "Rubik", sans-serif;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
    color: #486073;
}

button {
    border-radius: 50px;
    padding: 14px 24px;
    border: 1px solid #F5F3F3;
    background-color: transparent;
}

main {
    overflow-x: hidden;
}

.headingTwo-n-span span {
    color: #722E92;
    font-size: 16px;
}

.headingTwo-n-span h2 {
    margin-top: 10px;
}

/* ============================
Header CSS 
============================ */
header {
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.head-top {
    background-color: #E3EAF0;
}

.head-top p {
    font-size: var(--fs-large);
    font-weight: 500;
    text-transform: capitalize;
}

header {
    position: relative;
    position: sticky;
    top: -44px;
    z-index: 99;
}

.navbar-brand img {
    width: 220px;
}

.call-btn svg path {
    fill: #808080;
}

.call-btn,
.freeDemo-btn {
    text-transform: uppercase;
    font-size: var(--fs-medium);
    color: #818181;
}

.freeDemo-btn {
    font-weight: 500;
    color: white;
    background-color: var(--c-accent);
}

/* ============================
Hero Section CSS 
============================ */
.heroSec .carousel {
    height: 650px;
}

.carousel-item {
    position: relative;
    display: flex;
    align-items: center;
    height: 650px;
    z-index: 0;
}

.heroBannerOne .heroImg img {
    width: 100%;
}

.carousel-item img {
    position: relative;
    z-index: 1;
}

.banner-content {
    /*   top: 26%;
    bottom: 23%; */
    left: 13%;
}

.hero-banner-content {
    margin-left: 10%;
}

.hero-banner-content span {
    color: #722E92;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero-banner-content h1 {
    color: #01223A;
    font-size: 46px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.hero-banner-content p {
    color: #486073;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/* ============================
Video Showreel CSS
============================ */
.showreelSec {
    padding: 130px 0;
}

.video-container-wrapper {
    position: relative;
}

.video-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.wrapper {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.wrapper .circle {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: #722e92;
    margin: auto;
    transform: scale(1, 1);
}

.wrapper .circle.pulse {
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    background-color: #722e9253;
}

.wrapper svg {
    fill: white;
    stroke: #722E92;
    stroke-linejoin: round;
    stroke-width: 5;
    transition: all 0.3s;
}

.wrapper svg:hover {
    cursor: pointer;
    fill: white;
    stroke: white;
    transform: scale(1.2, 1.2);
}

@-webkit-keyframes pulse {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.3, 1.3);
    }

    100% {
        transform: scale(1, 1);
    }
}

.video-text-content {
    position: absolute;
    bottom: 25%;
}

.video-decor-LT,
.video-decor-RB {
    position: absolute;
    z-index: -1;
}

.video-decor-LT {
    left: -16px;
    top: -16px;
}

.video-decor-RB {
    right: -16px;
    bottom: -16px;
}

.video-thumb {
    height: 500px;
    width: 100%;
    background-color: #F4F4F4;
    border-radius: 10px;
    overflow: hidden;
}

.video-thumb img {
    opacity: .05;
}

/* ============================
Statics CSS
============================ */
.staticsSec {
    padding: 90px 0;
    background: #FBF6FB;
}

.static-wraper {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 20px;
}

.staticsSec h2 {
    margin-bottom: 30px;
}

p.value {
    font-size: 28px;
    font-weight: 600;
    z-index: 10;
    width: 100%;
    margin-bottom: unset;
}

.statics-card-one #part {
    transform: rotate(0deg);
}

.statics-card-one #part .circle {
    background: rgb(168, 85, 247);
    background: linear-gradient(90deg, rgba(168, 85, 247, 1) 0%, rgba(59, 130, 246, 1) 100%);
    /*transform: rotate(76deg);*/
    animation: first 1s 1 forwards;
}

@keyframes first {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(110deg);
    }
}

.statics-card-two #part {
    transform: rotate(0deg);
}

.statics-card-two #part .circle {
    background: rgb(168, 85, 247);
    background: linear-gradient(90deg, rgba(168, 85, 247, 1) 0%, rgba(59, 130, 246, 1) 100%);
    /*transform: rotate(76deg);*/
    animation: second 1s 1 forwards;
}

@keyframes second {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(110deg);
    }
}

.statics-card-three #part {
    transform: rotate(0deg);
}

.statics-card-three #part .circle {
    background: rgb(168, 85, 247);
    background: linear-gradient(90deg, rgba(168, 85, 247, 1) 0%, rgba(59, 130, 246, 1) 100%);
    /*transform: rotate(76deg);*/
    animation: thrid 1s 1 forwards;
}

@keyframes thrid {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(150deg);
    }
}

.statics-card-four #part {
    transform: rotate(0deg);
}

.statics-card-four #part .circle {
    background: rgb(168, 85, 247);
    background: linear-gradient(90deg, rgba(168, 85, 247, 1) 0%, rgba(59, 130, 246, 1) 100%);
    /*transform: rotate(76deg);*/
    animation: four 1s 1 forwards;
}

@keyframes four {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

.statics-card-five #part {
    transform: rotate(0deg);
}

.statics-card-five #part .circle {
    background: rgb(168, 85, 247);
    background: linear-gradient(90deg, rgba(168, 85, 247, 1) 0%, rgba(59, 130, 246, 1) 100%);
    /*transform: rotate(76deg);*/
    animation: five 1s 1 forwards;
}

#part2 {
    transform: rotate(180deg);
}

#part2 .circle {
    background: #746AF6;
    /*  background: linear-gradient(90deg, rgba(168, 85, 247, 1) 0%, rgba(59, 130, 246, 1) 100%); */
    animation: fivePlus 1s 1 forwards 1s;
}

@keyframes five {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

@keyframes fivePlus {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(70deg);
    }
}

/* ============================
Key benefits CSS
============================ */
.keyBenefitsSec {
    padding: 130px 0;
}

.benifitsCards {
    margin-top: 50px;
}

.benifits-card-wrapper {
    padding: 40px 60px 40px 0px;
    border: 1px solid transparent;
}

.benifits-card-wrapper:hover {
    border-radius: 6px;
    border: 1px solid rgba(72, 96, 115, 0.20);
    padding: 40px 30px 40px 30px;
}

.benifits-card-wrapper:hover h3 {
    color: var(--c-accent);
}

.benifits-card-wrapper img {
    margin-bottom: 20px;
}

.benifits-card-one,
.benifits-card-two,
.benifits-card-three {
    /*  border-right: 1px solid #48607333; */
}

/* ============================
Calculator CSS
============================ */
.calcSec {
    padding: 130px 0px;
    border: 1px solid lightgray;
    border-left: none;
    border-right: none;
    background-image: url(/assets/images/Calc_BG.png);
    background-size: cover;
    background-position: center center;
}

.calcSec h2 {
    color: white;
}

.calc-wrapper {
    margin-top: 40px;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #8F4AF1;
    background: white;
}

.timeSaved,
.costSaved {
    padding: 25px 35px;
}

.timeSaved {
    background-color: #F1F9F6;
}

.costSaved {
    background-color: #F9F8F1;
}

.dynamicValueHrs,
.dynamicValuePrice {
    color: #01223A;
    font-size: 32px;
    font-weight: 400;
}

.cardTitle {
    color: #01223A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 1px;
}

/* radio btn */
.calcSec .button {
    float: left;
    margin: 5px 5px 0 0;
    width: 145px;
    height: 45px;
    position: relative;
    background: #EEE;
    border-radius: 50px;
}

.calcSec .button label,
.calcSec .button input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
}

.calcSec .button input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
}

.calcSec .button input[type="radio"]:checked+label {
    background: var(--c-accent);
    border-radius: 50px;
    color: white;
}

.calcSec .button label {
    cursor: pointer;
    z-index: 90;
    border: 1px solid rgb(239, 239, 239);
}

.calc-output {
    height: 100%;
    border-radius: 13px;
    background: #F6EFF9;
    padding: 20px;
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.10) inset;
}

.calc-out-wrapper {
    height: 100%;
    padding: 8px;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.planRecomended {
    background-color: #233E98;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 25px 0;
}

.planRecomended p {
    color: white;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: unset;
}

.calc-revenue {
    padding-top: 20px;
    padding-bottom: 110px;
    background-image: url(/assets/images/Calc-out-bg.png);
    background-size: cover;
    background-position: center bottom;
    border-radius: 5px;
}

.calc-revenue p {
    color: #01223A;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.calc-revenue .value-note {
    color: #486073;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.calc-revenue .revenue-generated {
    color: #233E98;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 4px;
}

.enroll-btn a {
    width: 100%;
    height: 100%;
}

.enroll-btn p {
    color: #233E98;
    text-align: center;
    leading-trim: both;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    text-transform: capitalize;
    margin-bottom: 10px;
}



/* ============================
Testimonial CSS
============================ */
.testimonialSec {
    padding: 130px 0px;
}

.testimoniCard-wrapper {
    margin-top: 30px;
    position: relative;
    display: flex;
    align-items: center;
}

.testimoni-Img {
    width: 700px;
    height: 340px;
    border-radius: 6px;
    overflow: hidden;
}

.testimoni-Img img {
    height: 100%;
}

.testimoni-Content-wrappper {
    margin-left: -30px;
    padding-right: 10px;
}

.testimoni-Content,
.testimoni-ratings {
    background-color: white;
    padding: 24px 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.10);
}

.testimoni-ratings {
    padding: 14px 20px !important;
    margin-top: 20px;
}

.quotationDecor {
    position: absolute;
    top: -20px;
    right: 0px;
}

.testimonialSec {
    position: relative;
}

.decorFav {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

/* ============================
Break-down CSS
============================ */
.breakdownSec {
    padding: 70px 0;
    background-color: #f4f4f483;
}

/* ============================
Packages CSS
============================ */
.packagesSec {
    padding: 70px 0px;
}

.packagesSec .packagesSecBG {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.pricigCard-wrapper {
    height: 94%;
    margin-top: 50px;
    padding: 40px 34px 90px 34px;
    border-radius: 20px;
    border: 1px solid rgba(72, 96, 115, 0.20);
    background: white;
    position: relative;
}

.price-content h3 {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-transform: uppercase;
}

.price-content .price {
    color: var(--c-accent);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
}

.packageFeature {
    margin-top: 20px;
}

.featureListing {
    margin-bottom: 20px;
}

.featureListing p {
    margin: unset;
    text-align: left;
}

.featureListing .bullet {
    width: 24px;
    height: 24px;
    background-color: #722E92;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 12px;
}

.choose-plan-btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 34px;
}

.choose-plan-btn button {
    width: calc(100% - 68px);
    color: var(--c-accent);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-transform: capitalize;
    border: 1px solid var(--c-accent);
}

.pricigCard-wrapper:hover .price-content h3 {
    font-weight: 500;
}

.pricigCard-wrapper:hover .choose-plan-btn button {
    background-color: var(--c-accent);
    color: white;
}

.pricigCard-wrapper:hover {
    border: .7px solid var(--c-accent);
    box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.10);
}

.choose-plan-btn button:hover {
    background-color: var(--c-accent);
    color: white;
}


/* ============================
Partners CSS
============================ */
.partnersTrustSec {
    padding: 100px 0;
}

.trusted-partner-logo {
    height: 120px;
}

.trusted-partner-logo img {
    height: 100%;
}


/* ============================
CTA CSS
============================ */
.ctaSec {
    padding: 70px 0;
    background-color: #002D56;
    background-image: url(/assets/images/cta-bg.png);
    background-size: cover;
    background-position: center center;
}

.ctaSec p {
    margin-top: 18px;
}

.cta-btn {
    border: 1px solid #002D56;
    background-color: white;
    color: #002D56;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

.cta-btn-two {
    color: white;
    background-color: transparent;
    border: 1px solid #fff;
}

/* ============================
Contact CSS
============================ */
.contactSec {
    padding: 90px 0;
}

.contact-content {
    height: 90%;
}

.contact-mode {
    align-items: center;
}

.contact-mode p {
    margin: unset;
}

.contact-mode a {
    text-decoration: none;
}

.contact-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.18);
}

.verticalLine {
    border-left: 1px solid #48607328;
    height: 100%;
}

/* ============================
Form CSS
============================ */
.form-group {
    margin-bottom: 25px;
}

.form-group>label {
    display: block;
    font-size: 16px;
    color: #01223A;
    margin-bottom: 10px;
    font-weight: 500;
}

.form-control {
    height: 60px;
    background: #F8F8F8;
    border-color: transparent;
    padding: 0 15px;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.form-control:focus {
    border-color: var(--c-accent);
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}

textarea.form-control {
    height: 160px;
    padding-top: 15px;
    resize: none;
}

.btn {
    padding: .657rem .75rem;
    font-size: 16px;
    letter-spacing: 0.050em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn-primary {
    color: var(--c-accent);
    background-color: white;
    border-color: var(--c-accent);
}

.btn-primary:hover {
    color: white;
    background-color: var(--c-accent);
    border-color: var(--c-accent);
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}

.btn-primary:focus,
.btn-primary.focus {
    color: var(--c-accent);
    background-color: #ffffff;
    border-color: var(--c-accent);
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: var(--c-accent);
    background-color: #ffffff;
    /*  border-color: var(--c-accent); */
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
}

#submit {
    width: 100%;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0px;
}






/* ============================
Footer CSS
============================ */
footer {
    padding: 70px 0px;
    background-color: #01223A;
}

.brandInfo {
    padding-right: 30px;
}

.socialConnect {
    padding-left: 30px;
    border-left: 1px solid white;
}

.socialIcons a {
    width: 38px;
    height: 38px;
    background-color: #f6f5f619;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.socialIcons a svg path {
    fill: rgb(192, 192, 202);
}

.socialIcons a:hover svg path {
    fill: white;
    opacity: 1;
}